<div class="loginview">

  <form role="form" action="/login" method="post" class="form-horizontal">

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 col-sm-4 col-xs-4 control-label" for="email-input">Email</label>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <input id="email-input" name="email" type="text" class="form-control input-md">
    </div>
  </div>

  <!-- Password input-->
  <div class="form-group">
    <label class="col-md-4 col-sm-4 col-xs-4 control-label" for="password-input">Password</label>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <input id="password-input" name="password" type="password" class="form-control input-md">
    </div>
  </div>

  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 col-sm-4 col-xs-4 control-label" for=""></label>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <input id="" type="submit" value="Log In" class="btn btn-primary">
      <a class="btn btn-success" href="#modal-2" data-toggle="modal" data-dismiss="modal"> Sign Up</a>
    </div>
  </div>

  </form>

</div>
