<div class="signupview">

  <form class="form-horizontal">


  <!-- Username input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="">Username</label>
    <div class="col-md-4">
    <input id="" name="" type="text" placeholder="" class="form-control input-md">

    </div>
  </div>

  <!-- Email input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="">Email</label>
    <div class="col-md-4">
    <input id="" name="" type="text" placeholder="" class="form-control input-md">

    </div>
  </div>

  <!-- Password input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="">Password</label>
    <div class="col-md-4">
      <input id="" name="" type="password" placeholder="" class="form-control input-md">

    </div>
  </div>

  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for=""></label>
    <div class="col-md-4">
      <a class="btn btn-success" href="#modal-1" data-toggle="modal" data-dismiss="modal"> Sign Up</a>
    <!-- //*Sign Up button above will redirect to dashboard page in logged in state -->
    </div>
  </div>


  </form>


</div>
