    <h1>Add a New Book</h1>

    <% if (typeof errorMessage !== 'undefined') { %>
      <p class="error"> <%= errorMessage %> </p>
    <% } %>

    <% if (typeof errors !== 'undefined') { %>
        <% for (let key in errors) { %>
          <div> <%= errors[key].message %> </div>
        <% } %>
    <% } %>

    <form action="/books" method="post">

      <label for="title-input">Title</label>
      <input type="text" name="title" id="title-input">

      <label for="author-input">Author</label>
      <input type="text" name="author" id="author-input">

      <button type="submit">Add a Book</button>
    </form>
